<a href="https://colab.research.google.com/github/David-prog-silva/David-prog-silva/blob/main/18_02_22_TUPLAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLAS

In [ ]:
# ex001
tupla = ('ana', 'jose', 'maria', 2, 2.58)
print(f'{"="*30}\nimprimindo uma tupla\n{"="*30}\n{tupla}')

In [ ]:
# ex 002
tupla = ('ana', 'jose', 'maria', 2, 2.58)
print(f'nomes: {tupla[0], tupla[1], tupla[2]}')

CRIANDO E EXIBINDO TUPLAS

In [ ]:
# 003

tupla2 = (0, )
print(tupla2)
print('uma tupla com o metodo tuple', end='->')
tupla3 = tuple('teste') #somente com string
print(tupla3)

PERCORRENDO TUPLA

In [ ]:
tupla = ('ana', 'jose', 'maria', 2, 2.58)

print(f'imprimindo do incio ate o elemento desejado: {tupla[0:3]}')

imprimindo do incio ate o elemento desejado: ('ana', 'jose', 'maria')

**ATIVIDADE 2 (18/2)**



1.  Gere números aleatórios em uma tupla e exibia no final, o maior e o menor número gerado;
2.	Ler 5 números para uma tupla e exibir: quantidade de positivos, quantidade de negativos e quantidade de zeros;
3.	Ler para uma tupla 5 nomes e 5 notas de alunos. Exibir os dados de forma tabular, e a média final da sala.
4.	Criar uma tupla com 5 palavras. Mostra a palavra, as vogais da palavra e a quantidade de vogais existentes.

In [ ]:
# 001

from random import randint

menor = maior = 1
tplValoresAleatotorios = (randint(1, 100), randint(1, 100), randint(1, 100),
                          randint(1, 100))

print(f'tupla com números aleatorios: {tplValoresAleatotorios}')

for c in range(len(tplValoresAleatotorios)):
    if tplValoresAleatotorios[c] == 0:
        menor = tplValoresAleatotorios[0]
    else: 
        if tplValoresAleatotorios[c] > maior:
            maior = tplValoresAleatotorios[c]
            menor = tplValoresAleatotorios[c - 1]
        if tplValoresAleatotorios[c] < menor:
            menor = tplValoresAleatotorios[c]
            maior = tplValoresAleatotorios[c + 1]       

print(f'maior -> {maior} menor -> {menor}')

In [ ]:
# ex002

from random import randint

tplValoresAleatotorios = (randint(-100, 100), randint(-100, 100), randint(-100, 100),
                          randint(-100, 100), randint(-100, 100))


for c in range(len(tplValoresAleatotorios)):
    if tplValoresAleatotorios[c] > 0:
        print(f'{tplValoresAleatotorios[c]} : positivo', end = ' || ')
    if tplValoresAleatotorios[c] <= 0:
        print(f'{tplValoresAleatotorios[c]} : negativo', end = ' || ')
    if tplValoresAleatotorios[c] == 0:
        print(f'posição valor 0 : {tplValoresAleatotorios[c]}')

In [ ]:
# 003

from random import randint

def mediaNotas(n1, n2, n3, n4, n5):
    media = (n1 + n2 + n3 + n4 + n5) / 5
    return media

tplNomes = ('Davi', 'Silva', 'Santos', 'Junior', 'Ninguém')

#nt -> nota doas alunos
ntAluno1 = randint(0,10)
ntAluno2 = randint(0,10)
ntAluno3 = randint(0,10)
ntAluno4 = randint(0,10)
ntAluno5 = randint(0,10)

tplNotas = (ntAluno1, ntAluno2, ntAluno3, ntAluno4, ntAluno5)

somaMedia = 0 # somar o valor dos itens das tuplas

for t in range(len(tplNotas)):
    print(f'{tplNomes[t]:_<10}{tplNotas[t]:.2f}')

print(f'Média total da sala: {mediaNotas(ntAluno1, ntAluno2, ntAluno3, ntAluno4, ntAluno5)}')

In [14]:
#ex 004

tupla = ('escada', 'olho', 'mesa', 'parede', 'ouro')
for p in tupla:
    print(f'\nna palavra: {p} temos: ', end= " ")
    for letra in p:
        if letra.lower() in 'aeiou':
            print(f'{letra}', end = " ")

na palavra: escada temos:  e a a
na palavra: olho temos:  o o
na palavra: mesa temos:  e a
na palavra: parede temos:  a e e
na palavra: ouro temos:  o u o